.container{
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: #000000;
}

/* SECCION DERECHA */

.rightSide{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    color: #ffffff;
    gap: 7vh;
}

.header{
    display: flex;
    flex-direction: row;
    align-items: baseline;

}

.header span{
    font-size: 4rem;
}

.subheader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    font-size: 1.2rem;
}

.image{
    border-radius: 50%;
}

.frases{
    display: flex;
    width: 80%;
    justify-content: start;
}

/* SECCION IZQUIERDA */

.leftSide {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    color: #000000;
    gap: 16px;
}

.formContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vh;
    gap: 24px;
}

.input{
    padding: 15px;
    border-radius: 3px;
    border: solid 1px;
}

.forgot, .forgot div{
    color: var(--color-principal-ui);
    display: flex;
    justify-content: end;
}

.headerForm {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 8px;
}


.headerForm h1{
    font-size: 3.4rem;
    font-weight: 700;
}

.headerForm span{
    font-size: 1.2rem;
    font-weight: 300;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.nameFields {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.nameFields div, .campoForm {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.inputWrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.inputIcon {
    position: absolute;
    left: 12px;
    color: #888;
    pointer-events: none;
}

.togglePassword {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 12px;
    background: none;
    cursor: pointer;
    color: #888;
}

.input {
    width: 100%;
    padding-left: 40px; 
    padding-right: 40px;
    border-radius: 5px;
    border: solid 1px #898989;
}

@media (max-width: 767px) {
    .container {
        background-color: #ffffff;
        flex-direction: column;
        justify-content: center;
    }

    .leftSide {
        width: 100%;
    }

    .rightSide {
        display: none;
    }
}