.container{
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: #000000;
}

/* SECCION IZQUIERDA */

.leftSide {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    color: #ffffff;
    gap: 7vh;
}

.header{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    font-size: 2.2rem;
}

.subheader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    font-size: 1.2rem;
}

.frases{
    display: flex;
    width: 80%;
    align-items: flex-start;
    justify-content: end;
}

/* SECCION DERECHA */

.rightSide{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

.formContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.headerForm {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 8px;
}

.headerForm h1{
    font-size: 3.5rem;
    font-weight: 700;
}

.headerForm span{
    font-size: 1.2rem;
    font-weight: 300;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.input{
    padding: 15px;
    border-radius: 3px;
    border: solid 1px;
}

.nameFields {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.nameFields div, .campoForm {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

@media (max-width: 767px) {
    .container {
        background-color: #ffffff;
        flex-direction: column;
        justify-content: center;
    }

    .rightSide {
        width: 100%;
    }

    .leftSide {
        display: none;
    }
}