.navbarContainer {
    position: relative;
    width: 100%;
}

.navBar {
    background-color: rgba(0, 0, 0, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.5rem 1.5rem;
    box-sizing: border-box;
}

.linksDiv {
    display: flex;
    gap: 30px;
}

.links {
    font-size: 20px;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    font-weight: 200;
    transition: color 0.2s;
}

.links:hover {
    color: var(--color-principal-ui-hover);
}

.activeLink {
    color: var(--color-principal-ui);
}

.rightNavBar {
    display: flex;
    align-items: center;
    gap: 20px;
}

.userActions {
    display: flex;
    align-items: center;
    gap: 20px;
}

.cartLink {
    color: #ffffff;
    display: flex;
    align-items: center;
    transition: color 0.2s;
}

.cartLink:hover {
    color: var(--color-principal-ui);
}


.profileLink {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #ffffff;
    font-weight: 500;
    padding: 10px 15px;
    border-radius: 10px;
    transition: background-color 0.2s;
}

.profileLink:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

/* --- Icono de Hamburguesa (Móvil) --- */
.burgerIcon {
    display: none; /* Oculto en escritorio */
    background-color: transparent;
    border: none;
    position: sticky;
    z-index: 1001;
    cursor: pointer;
}

/* --- Media Query para Responsividad --- */
@media (max-width: 1020px) {
    .logoNavbar{
        display: none;
    }
    /* Ocultamos los enlaces y la parte derecha en la barra normal */
    .linksDiv, .rightNavBar {
        display: none;
    }

    /* Mostramos el icono de hamburguesa */
    .burgerIcon {
        display: flex;
        justify-content: space-between;
        width: 100%;
        background-color: black;
        padding: 1% 2.5% 1% 2.5%;
        top: 0;
    }

    /* Estilos del menú cuando está abierto */
    .navBarOpen {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 1000;
        background-color: rgba(0, 0, 0, 1);
    }

    /* Mostramos y apilamos los enlaces en el menú abierto */
    .navBarOpen .linksDiv {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    
    /* Mostramos y apilamos la parte derecha en el menú abierto */
    .navBarOpen .rightNavBar {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        margin-top: 2.5rem;
    }

}