*{
  margin: 0;
  padding: 0;
  animation: 0.5s;
}
.textoRosa{
  color: #EC4899;
}


/*  SECCION DEL NAVBAR */

.navBar{
  background-color: rgba(0, 0, 0, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 97%;
  padding: 0.5% 1.5%;
}
.linksDiv{
  display: flex;
  gap: 30px;
}
.links{
  font-size: 20px;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  font-weight: 200;
}
.rightNavBar{
  display: flex;
  align-items: center;
  gap: 20px;
}
.rightNavBar button{
  border-radius: 10px;
  padding: 10px 15px;
  border: none;
  background-color: #EC4899;
  color: rgba(255, 255, 255, 1);
}


/* SECCION DEL HEADER */

.inicioPrincipal{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;

}
.header{
  background-color: #060606;
  color: rgba(255, 255, 255, 1);
  display: flex;
  width: 80%;
  padding: 3% 10%;
  justify-content: space-between;
  align-items: center;
}
.headerParte1{
  display: flex;
  flex-direction: column;
  gap: 4vh;
}
.headerMiniTitulo{
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 1);
  border: 1px solid rgba(255, 255, 255, 1);
  width: max-content;
  padding: 8px;
  border-radius: 5px;
}
.headerTitulo h1{
  font-size: 48px;
}
.headerButtons{
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.headerButtons button{
  padding: 10px 2vw;
  border-radius: 5px;
  border: none;
}
.headerButtons .headerButton2{
  background-color: #EC4899;
  color: rgba(255, 255, 255, 1);
}
.headerButtons .headerButton3{
  background-color: #F5BD1F;
  color: rgba(0, 0, 0, 1);
}



/* SECCION DE EVENTOS */
.eventos{
  background-color: #060606;
  color: rgba(255, 255, 255, 1);
}

.imageArrowLeft{
  rotate: 180deg;
}