/*  SECCION DEL NAVBAR */
*{
  margin: 0;
  padding: 0;
  animation: 0.5s;
}
.navBar{
  background-color: rgba(0, 0, 0, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 97%;
  padding: 0.5% 1.5%;
}
.linksDiv{
  display: flex;
  gap: 30px;
}
.links{
  font-size: 20px;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  font-weight: 200;
}
.rightNavBar{
  display: flex;
  align-items: center;
  gap: 20px;
}
.rightNavBar button{
  border-radius: 10px;
  padding: 10px 15px;
  border: none;
  background-color: #EC4899;
  color: rgba(255, 255, 255, 1);
}


/* SECCION DEL HEADER */


.header{
  background-color: #060606;
  color: rgba(255, 255, 255, 1);
}




/* SECCION DE EVENTOS */
.eventos{
  background-color: #060606;
  color: rgba(255, 255, 255, 1);
}

.imageArrowLeft{
  rotate: 180deg;
}