/* Estilos base que todos los botones comparten */
.base {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;    
    transition: background-color 0.5s, color 0.2s;
    border: 1px solid transparent;
}

.base:disabled {
    opacity: 0.5;
    pointer-events: none;
}

/* --- Variantes del Boton --- */

.primary {
    background-color: var(--color-principal-ui);
    color: white;
}                                 

.primary:hover {
    background-color: var(--color-principal-ui-hover);
}

.black {
    background-color: black;
    color: white;
}

.black:hover {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid black;
}

.pistachio {
    background-color: var(--color-secundario-ui);
    color: #365314;
}
.pistachio:hover {
    background-color: var(--color-secundario-ui-hover);
}

.yellow {
    background-color: #F5BD1F;
    color: #000000;
}

.yellow:hover {
    background-color: #F59E0B;
    color: #000000;
}

.pistachio-black {
    background-color: #000000;
    color: var(--color-secundario-ui);
    border: solid 1px transparent;
}

.pistachio-black:hover {
    background-color: transparent;
    color: var(--color-principal-ui);
    border: solid 1px var(--color-principal-ui-hover);
}